<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
</div>
<div class="flat-info">
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
</div>
<div class="flat-description">
  <p><%= @flat.description %></p>
  <p><%= @flat.price_per_night %></p>
  <p><%= @flat.number_of_guests %></p>

</div>

<div class="info">
  <%= link_to "Back to list", flats_path %>
  <%= link_to "Edit this flat", edit_flat_path(@flat.id) %>
  <%=link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
